.dashboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addFormContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px
}
